# stuff for current project
cadastral_data.json
test_current.py
/tasks
/archive
/xml
/errors
/tools

# virtualenv
.venv
venv/
ENV/


# mypy
.mypy_cache/
.idea/workspace.xml
.idea/
archive/
xml/
__pycache__/
